{{#each schedule}}
    <tr>
        <td class="count table-content">{{month}}</td>
        <td class="count table-content">£{{balance}}</td>
        <td class="count table-content">£{{paid-this-month}}</td>
    </tr>
{{/each}}