* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2ecc71;
    font-family: 'Nanum Gothic', sans-serif;
}

.title {
    color: #ecf0f1;
    font-size: 4rem;
    letter-spacing: 2px;
}

.box-effect-css {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.box-effect-css:before, .box-effect-css:after {
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}
.box-effect-css:after {
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

.calc-box {
    height: 400px;
    background-color: #ecf0f1;
    border-radius: 10px;
}

.calc-box h3 {
    margin-top: 10px;
    letter-spacing: 1px;
}

/* - - -  slider inputs  - - - */

.slide-input {
    height: 50px;
    margin: 0 auto;
    background-color: greenyellow;
}

.slider {
    margin-top: 18px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #2ecc71;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 75px;
    height: 35px;
    border-radius: 10px;
    background: #3498db;
    cursor: pointer;
}

.calc-input-display {
    border: 2px solid #3498db;
    border-radius: 10px;
    transition: color 0.6s, background-color 0.6s;
}

.calc-input-display:hover {
    background-color: #3498db;
    color: #ecf0f1;
    transition: color 0.6s, background-color 0.6s;
}

.calc-input-display p {
    margin: 10px auto;
}

form button {
    font-size: 6rem;
}

/* - - -  display results  - - - */

.res-box {
    background-color: #ecf0f1;
    border-radius: 10px;
    padding-bottom: 30px;
}

.res-overview {
    padding: 20px 20px 40px 20px;
}

.res-box h3,
.res-box h5 {
    text-align: center;
}

.res-box h3 {
    margin-top: 10px;
}

.res-box h5 {
    margin-bottom: 30px;
}

.monthly-repayments {
    border-bottom: 1px solid #bdc3c7;
    box-shadow: 0 20px 12px -12px #ccc;
}

.total-sums {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1.5px;
}

.upfront-fee {
    border: 1px solid #e74c3c;
    border-radius: 10px;
    transition: color 0.6s, border 0.6s, background-color 0.6s;
}

.upfront-fee:hover {
    background-color: #e74c3c;
    color: #ecf0f1;
    transition: background-color 0.6s, color 0.6s;
}

.total-item {
    height: 80px;
}

.total-item h5,
.total-item p {
    text-align: center;
}

.total-item h5 {
    padding-top: 10px;
    margin-bottom: 10px;
}

.table th,
.table td {
    text-align: center;
}

.hidden {
    display: none;
}

.table {
    margin: 30px auto auto;
    width: 90%;
    table-layout: fixed;
    word-wrap: break-word;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}













