* { box-sizing: border-box }

body {
    background-color: #2ecc71;
    font-family: 'Nanum Gothic', sans-serif;
}

.title {
    color: #ecf0f1;
    font-size: 4rem;
}

.calc-box {
    height: 400px;
    background-color: #ecf0f1;
    border-radius: 10px;
}

.calc-box h3 {
    margin-top: 10px;
}

/* - - -  slider inputs  - - - */

.slide-input {
    height: 50px;
    margin: 0 auto
}

.slider {
    margin-top: 12px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: #2ecc71;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    background: #3498db;
    cursor: pointer;
}





















