{{#each schedule}}
    <tr id="table-month-{{month}}">
        <td class="count ">{{month}}</td>
        <td class="count ">£{{balance}}</td>
        <td class="count ">£{{paid-this-month}}</td>
    </tr>
{{/each}}